* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-quattrocento);
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(59, 59, 59, 1);
}

svg {
  font-family: var(--font-noto-sans);
  color: rgba(59, 59, 59, 1);
}

.svg-title {
  font-family: var(--font-quattrocento);
  font-weight: 700;
  color: rgba(59, 59, 59, 1);
}

.marker-cluster-small {
  background-color: rgba(254, 240, 194, 1) !important;
}

.marker-cluster-small div {
  background-color: rgba(254, 227, 145, 1) !important;
  color: #000 !important;
}

.marker-cluster-medium {
  background-color: rgba(254, 178, 93, 1) !important;
}

.marker-cluster-medium div {
  background-color: rgba(254, 153, 41, 1) !important;
  color: #000 !important;
}

.marker-cluster-large {
  background-color: rgba(253, 94, 2, 1) !important;
}

.marker-cluster-large div {
  background-color: rgba(204, 76, 2, 1) !important;
  color: #000 !important;
}
